<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

    <h4 th:if="${flag}">中公教育</h4>

    <table width="200" style="text-align: center;" border="1">
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>索引</th>
        </tr>

        <tr th:each="user,iterStat : ${userList}" th:style="${iterStat.even ? 'background: red' : ''}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${iterStat.index}"></td>
        </tr>

    </table>

</body>
</html>
